@charset "UTF-8";
/* CSS Document */

/* ----------------------------------------------------------------
	Basic
-----------------------------------------------------------------*/

body {
   	margin: 0;
   	padding: 0;
	color: var(--black);
}

h2 {
	text-transform: uppercase;
	margin-left: 1em;
}

p {
	text-indent: 1.0em;
}

li{
	list-style: none;
}

.clear {
	clear: both;
	display: block;
	font-size: 0px;
	height: 0px;
	line-height: 0;
	width: 100%;
	overflow:hidden;
}

#main{
/*	display:flex;*/
	width:90%;
	margin:5px auto;
/*	background: #dff;*/
}

/* ----------------------------------------------------------------
	Logo
-----------------------------------------------------------------*/

.Logo {
	width: 10%;
	margin: 0px 10%;
}

.flex {
	display: flex;
    justify-content: space-between;
}

.flex p{
    width: 49%;
	vertical-align: middle;
}

/* ----------------------------------------------------------------
	Menu
-----------------------------------------------------------------*/

ul.menu {
	margin: 0px;
	padding: 0px 0px 0px 15px;
/*	background:  aliceblue;*/
}
ul.menu a {
	background-color: #fff;
	color: #000;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	display: block;
/*	border: 1px ridge #ffdddd;*/
}
ul.menu a:hover {
	background-color: #1ABC9C;
	color: white;
}

@media screen and (max-width:1199px){
	ul.menu li {
		width: 100%;
		display: inline-block;
		list-style-type: none;
		position: relative;
	}

	ul.menu li:hover ul {
		display: none;
	}

	ul.menu ul {
		display: none;
	}
}

@media screen and (min-width:1200px){
	ul.menu li {
		width: 225px;
		display: inline-block;
		list-style-type: none;
		position: relative;
	}

	ul.menu li:hover ul {
		display: block;
	}

	ul.menu ul {
		margin: 0px;
		padding: 0px;
		display: none;
		position: absolute;
	}

	ul.menu ul li {
		width: 250px;
		border-top: 1px solid lightgreen;
	}
	ul.menu ul li a {
		line-height: 35px;
		text-align: left;
		padding-left: 5px;
		font-weight: normal;
	}
	ul.menu ul li a:hover {
		background-color: #EDFFB3;
		color: #005500;
	}
}

/* ----------------------------------------------------------------
	Main
-----------------------------------------------------------------*/

.Two-column{
    display: flex;
/*    border: 1px solid #333;*/
}
.Two-column div{
/*    border: 1px solid #333;*/
}

.right{
	width: 50%;
/*    background: #ffd87c;*/
}
.left{
	width: 50%;
/*    background: #9ddbfc;*/
}

.Title {
	color: #1ABC9C;
}

.title-U-line{
	border-bottom: 3px solid silver;
	width: 90%;
}

.title-U-line-blank{
	padding-top: 100px;
	border-bottom: 3px solid silver;
	width: 90%;
}

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


#footer {
	position: relative;
	background-color: #EEE;
	border-top: 5px solid rgba(0,0,0,0.2);
}

.device-lg.sticky-footer #top-bar,
.device-md.sticky-footer #top-bar { z-index: 299; }

.device-lg.sticky-footer #header,
.device-md.sticky-footer #header { z-index: 199; }

.device-lg.sticky-footer #slider,
.device-lg.sticky-footer #page-submenu,
.device-lg.sticky-footer #page-title,
.device-lg.sticky-footer #content,
.device-md.sticky-footer #slider,
.device-md.sticky-footer #page-submenu,
.device-md.sticky-footer #page-title,
.device-md.sticky-footer #content { z-index: 2; }

.device-lg.sticky-footer #footer,
.device-md.sticky-footer #footer {
	position: fixed;
	top: auto;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
}

.device-lg.sticky-footer:not(.stretched) #footer,
.device-md.sticky-footer:not(.stretched) #footer {
	left: 50%;
	margin-left: -610px;
	width: 1220px;
}

.device-md.sticky-footer:not(.stretched) #footer {
	margin-left: -500px;
	width: 1000px;
}

#footer .footer-widgets-wrap {
	position: relative;
	padding: 80px 0;
}

.footer-widgets-wrap .col_full,
.footer-widgets-wrap .col_half,
.footer-widgets-wrap .col_one_third,
.footer-widgets-wrap .col_two_third,
.footer-widgets-wrap .col_three_fourth,
.footer-widgets-wrap .col_one_fourth,
.footer-widgets-wrap .col_one_fifth,
.footer-widgets-wrap .col_two_fifth,
.footer-widgets-wrap .col_three_fifth,
.footer-widgets-wrap .col_four_fifth,
.footer-widgets-wrap .col_one_sixth,
.footer-widgets-wrap .col_five_sixth { margin-bottom: 0; }

#copyrights {
	padding: 40px 0;
	background-color: #DDD;
	font-size: 14px;
	line-height: 1.8;
}

#copyrights i.footer-icon {
	position: relative;
	top: 1px;
	font-size: 14px;
	width: 14px;
	text-align: center;
	margin-right: 3px;
}

.copyright-links a {
	display: inline-block;
	margin: 0 3px;
	color: #333;
	border-bottom: 1px dotted #444;
}

.copyright-links a:hover {
	color: #555;
	border-bottom: 1px solid #666;
}

.copyrights-menu { margin-bottom: 10px; }

.copyrights-menu a {
	font-size: 14px;
	margin: 0 10px;
	border-bottom: 0 !important;
}

#copyrights .col_half {
	margin-bottom: 0 !important;
	margin-left: 5%;
}

#copyrights a:first-child { margin-left: 0; }

#copyrights .tright a:last-child { margin-right: 0; }

.footer-logo {
	display: block;
	margin-bottom: 30px;
}

/* ----------------------------------------------------------------
	portfolio
-----------------------------------------------------------------*/

.prettifydiv {
  font-size: 13px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}
.filters {
  text-align: center;
  margin-bottom: 2rem;
}
.filters * {
  display: inline-block;
}
.filters label {
  text-align: center;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.25rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.2s;
  color: #999;
}
.filters label:hover {
  background: #1ABC9C;
  color: #fff;
}
.targets {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}
.targets .target {
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.targets .target-title {
  font-size: 1.2rem;
  margin: 1rem 0 1rem 0.25rem;
  color: black;
}
.targets .target-title:hover {
/*  text-decoration: underline;*/
	color: #999;
}
.targets figcaption {
  padding: 0.5rem;
  font-size: 0.75rem;
}
.targets .target-categories {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
}
.targets .target-categories * {
  display: inline-block;
}
.targets .target-categories li {
  margin-bottom: 0.2rem;
}
.targets .target-categories a {
  padding: 0.2rem 0.5rem;
  transition: all 0.1s;
  color: #1ABC9C;
}
.targets .target-categories a:hover {
  background: #1ABC9C;
  color: #fff;
}
/* フィルタリング  */
[value="All"]:checked ~ .filters [for="All"],
[value="sound"]:checked ~ .filters [for="sound"],
[value="event"]:checked ~ .filters [for="event"], 
[value="movie"]:checked ~ .filters [for="movie"], 
[value="cd"]:checked ~ .filters [for="cd"], 
[value="study"]:checked ~ .filters [for="study"], 
[value="other"]:checked ~ .filters [for="other"] {
  background: #1ABC9C;
  color: #fff;
}
[value="All"]:checked ~ .targets [data-category] {
  display: block;
}
[value="sound"]:checked ~ .targets .target:not([data-category~="sound"]), 
[value="event"]:checked ~ .targets .target:not([data-category~="event"]), 
[value="movie"]:checked ~ .targets .target:not([data-category~="movie"]),
[value="cd"]:checked ~ .targets .target:not([data-category~="cd"]), 
[value="study"]:checked ~ .targets .target:not([data-category~="study"]), 
[value="other"]:checked ~ .targets .target:not([data-category~="other"]) {
  display: none;
}
/* メディアクエリ */
@media screen and (max-width: 900px) {
  .targets {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 14px;
  }
  .targets {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ----------------------------------------------------------------
	details
-----------------------------------------------------------------*/

summary {
  	/* display: list-item;以外を指定してデフォルトの三角形アイコンを消します */
  	display: block;
	width: 80%;
	padding: 0 5%;
}

summary::-webkit-details-marker {
  	/* Safariで表示されるデフォルトの三角形アイコンを消します */
  	display: none;
	width: 80%;
	padding: 0 5%;
}

.summary_inner{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #1ABC9C;
  font-weight: bold;
  color: #002255;
}

/* --------アイコンを作ります-------- */
.icon {
  display: block;
  position: relative;
  width: 24px;
  margin-left: 6px;
  flex-shrink: 0;
  transform-origin: center 43%;
  transition: transform 0.4s;
}

/* アコーディオンが開いた時のスタイル */
details[open] .icon {
  transform: rotate(180deg);
}

/* アイコンのバーのスタイル */
.icon::before,
.icon::after {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 3px;
  background-color: #1ABC9C;
}

.icon::before {
  left: 0;
  transform: rotate(45deg);
}

.icon::after {
  right: 0;
  transform: rotate(-45deg);
}

.anser{
	padding: 0 5%;
}

/* ----------------------------------------------------------------
	event
-----------------------------------------------------------------*/

.deadline{
	color: #7E7E7E;
}
.event {
	margin-bottom: 3px;
	margin-top: 5px;
}

.kadomarubox{
	display: inline-block;
	padding: 5px;
    margin: 5px 1px;
  	background: #1ABC9C;
	color: white;
  	border-radius:20px;
	text-align: center;
	font-size: 2em;
}

.area {
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.tab_class {
  width: calc(95%/4);
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  display: block;
  float: left;
  order: -1;
  border: solid 1px #dddddd;
}

input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}
 
.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}

.col_full {
    clear: both;
    float: none;
    margin-right: 0;
	display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;
	width: 100%;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
	border: solid 1px #dddddd;
    border-radius: 3px 3px 0 0;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-body {
    padding: 5 15px;
	border: solid 1px #dddddd;
    border-radius: 0 0 3px 3px;
}

.panel-body:before{
	content: " ";
    display: table;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.panel-body:after{
	clear: both;
	content: " ";
    display: table;
}

/* ----------------------------------------------------------------
	timer
-----------------------------------------------------------------*/

.countdown-container {
  margin: 3rem;
}

.time-container {
  display: flex;
}

.time {
  margin: .1rem;
}

#day, #hour,#min,#sec {
  font-size: 3rem;
  margin-right: 0.5rem;
}
